html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(61, 61, 61);
    background-color: white;
}

@font-face {
    font-family: "Montserrat Alternates";
    src: url("Montserrat_Alternates.woff2");

}

body {
    font-family: "Montserrat Alternates";



}

:root {
    --colorgaming: goldenrod;
    --accent: green;
    --textaccent: white;
    --box: lightgrey;
    --main: white;
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--accent);
    color: var(--textaccent);
    margin-bottom: 5px;
    height: 4rem;
    justify-content: center;
}


.elementBox {
    background-color: var(--box);
    border: 2px solid var(--accent);
    border-radius: 40px;
    min-height: 40px;
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
}

.checkboxcontainer {
    width: auto;
    font-size: 1.2rem;
}

.informationBox {
    background-color: var(--white);
    border-radius: 40px;
    min-height: 40px;
    margin: 1rem auto;
    margin-top: 2rem;
    padding: 1rem;
    width: 90%;
    box-shadow: 0px 0px 10px;
    text-align: center;
}

.tinytext {
    font-size: x-small;
}

.selectedFruit {
    border-top: 0.1rem solid lightgray;
}