html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(61, 61, 61);
    background-color: white;
}

@font-face {
    font-family: "Montserrat Alternates";
    src: url("Montserrat_Alternates.woff2");

}

body {
    font-family: "Montserrat Alternates";



}

:root {
    --colorgaming: goldenrod;
    --accent: green;
    --textaccent: white;
    --box: lightgrey;
    --main: white;
    --chartHeadline: #0269A9;
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--accent);
    color: var(--textaccent);
    margin-bottom: 5px;
    height: 4rem;
    justify-content: center;
}


.elementBox {
    background-color: var(--box);
    border: 2px solid var(--accent);
    border-radius: 40px;
    min-height: 40px;
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
}

.checkboxcontainer {
    width: auto;
    font-size: 1.2rem;
}

.textInputField{
    background-color: var(--box);
    border: transparent 2px;
    border-radius: 25px;
    text-align: center;
    width: 95%;
    margin: auto;
    padding-top: 5px;
}

.btnBox{
    border: solid 2px var(--accent);
    background-color: var(--accent);
    text-align: center;
    border-radius: 25px;
    width: 55px;
    color: var(--main);
    float: right;
}

.btnBox:active{
    background-color: var(--white);
    color: var(--box);
    box-shadow: 0px 0px 15px  var(--accent);
}


.informationBox {
    background-color: var(--white);
    border-radius: 40px;
    min-height: 40px;
    margin: 1rem auto;
    margin-top: 2rem;
    padding: 1rem;
    width: 90%;
    box-shadow: 0px 0px 10px;
    text-align: center;
}

.informationDivider {
    border-left: 0.1rem solid var(--box);
}

.readingText {
    margin:0%
}

.tinytext {
    font-size: x-small;
}

.selectedFruit {
    border-top: 0.1rem solid var(--box);
}

.fitImageInContainer{
    width:100%;
    height: fit-content;
}

.recipeScroll{
    position:relative;
    aspect-ratio: 1;
    overflow-y: scroll;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 5%;
}

.recipeCard{
    box-shadow: 0px 0.1rem 10px var(--box);
    margin-bottom: 10%;
    width: 90%;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;
}

.RecipeImage{
    width:100%;
    border-radius: 20px;
}

.RecipeText{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0%;
    font-size: 0.8rem;
}


.temperaturBox{
    width: 90%;
    margin: 2rem auto 2rem auto;
}


footer{
    background-color: var(--accent);
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    height: 3rem;
    justify-content: center;
    text-align: center;
    color: var(--main);
}

.copyright{
    margin-top: 0.7rem;
    font-weight: 500;
}