html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(61, 61, 61);
    background-color: white;
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: "Montserrat Alternates";
    src: url("Montserrat_Alternates.woff2");

}

.content {
    min-height: 100vh;
    padding-bottom: 20px;
}

body {
    font-family: "Montserrat Alternates";
    background: linear-gradient(180deg, var(--main)50%, var(--secondaryaccent)60%, var(--accent)90%);
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    background-attachment: fixed;
}

:root {
    --colorgaming: goldenrod;
    --accent: green;
    --textaccent: white;
    --secondaryaccent: rgb(211, 240, 211);
    --box: lightgray;
    --main: white;
    --chartHeadline: #0f3114;
    --allert: rgba(255, 0, 0, 0.603);
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--accent);
    color: var(--textaccent);
    margin-bottom: 5px;
    height: 4rem;
    justify-content: center;
}

.offcanvasBackground{
    background-color: var(--secondaryaccent);
    background: linear-gradient(180deg, var(--secondaryaccent)60%, var(--main));
}

.offcanvasInputfield{
    border: 2px solid var(--box);
    border-radius: 10px;
    background-color: var(--box);
    width: 96%;  
    margin: 0.5rem auto 1rem auto;    
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    box-shadow: 0px 0px 6px;
}

.offcanvasLoginBtn{
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--main);
    border: 2px solid var(--accent);
    padding: 0.2rem 1rem 0.1rem 1rem;
    margin: 0 auto 0 auto;
}
.offcanvasLoginBtn:active{
    background-color: var(--main);
    color: var(--accent);
    box-shadow: 0px 0px 6px var(--accent);
}

.offcanvasCancelBtn{
    background-color: var(--main);
    border-radius: 10px;
    color: var(--allert);
    border: 2px solid var(--allert);
    padding: 0.2rem 1rem 0.1rem 1rem;
    margin: 0 auto 0 auto;
}
.offcanvasCancelBtn:active{
    background-color: var(--allert);
    color: var(--allert);
    border: 2px solid var(--allert);
    box-shadow: 0px 0px 6px var(--allert);
}

.offcanvasInput {
    margin: 0.5rem auto;
    border: 2px solid var(--box);
    border-radius: 10px;
    background-color: var(--box);
    width: 30%; 
    text-align: center;
}
.offcanvasInputBox {
    height: 100%;
    width: 100%;
    margin-top: 0.5rem;
}
.offcanvasInputBox label{
    font-weight: 600;
}

.elementBox {
    background-color: var(--secondaryaccent);
    border: 2px solid var(--accent);
    border-radius: 40px;
    min-height: 40px;
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
}

.checkboxcontainer {
    width: auto;
    font-size: 1.2rem;
}

.greenCheck{
    margin-left: 1.5rem;
}
.greenCheck:checked{
    background-color: var(--accent);
    border-color: var(--accent);
}

.textInputField{
    background-color: var(--secondaryaccent);
    color:var(--chartHeadline);
    border: transparent 2px;
    border-radius: 25px;
    text-align: center;
    width: 95%;
    margin: auto;
    padding-top: 5px;
}

.textInputField::placeholder{
    color:var(--accent);
}

.btnBox{
    border: solid 2px var(--accent);
    background-color: var(--accent);
    text-align: center;
    border-radius: 25px;
    width: 55px;
    color: var(--main);
    float: right;
}

.btnBox:active{
    background-color: var(--main);
    color: var(--accent);
    box-shadow: 0px 0px 15px  var(--accent);
}


.informationBox {
    background-color: var(--main);
    border-radius: 40px;
    min-height: 40px;
    margin: 1rem auto;
    margin-top: 2rem;
    padding: 1rem;
    width: 90%;
    box-shadow: 0px 0px 10px;
    text-align: center;
}

.informationDivider {
    border-left: 0.1rem solid var(--box);
}

.readingText {
    margin:0%
}

.tinytext {
    font-size: x-small;
}

.selectedFruit {
    border-top: 0.1rem solid var(--box);
}

.fitImageInContainer{
    width:100%;
    aspect-ratio: 1;
    padding:5%
    /* height: 100%; */
}

.recipeScroll{
    position:relative;
    aspect-ratio: 1;
    overflow-y: scroll;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 5%;
}

.recipeCard{
    box-shadow: 0px 0.1rem 10px var(--box);
    margin-bottom: 10%;
    width: 90%;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;
}

.RecipeImage{
    width:100%;
    border-radius: 20px;
}

.RecipeText{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0%;
    font-size: 0.8rem;
}


.temperaturBox{
    position:relative;
    width: 90%;
    margin: 2rem auto 2rem auto;
}

.buffer{
    margin: 2rem 5% 4rem;
    box-shadow: 0 0 10px;
    border-radius: 40px;
    background-color: var(--main);
}

footer{
    background-color: var(--accent);
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    height: 3rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: var(--main);
}

.copyright{
    font-weight: 500;
}