<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/6ec0fc2274.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <header class="header p-3">
            <div class="row w-100">
                <div class="col-12 row">
                    <h1 style="text-align: center;">
                        <i class="fa-solid fa-leaf fa-xl"></i>
                        Frugt og grønt
                    </h1>
                </div>
            </div>
        </header>

        <div class="row elementBox d-flex justify-content-between">
            <div class="col-6 checkboxcontainer mx-3">
                <label for="FruitCheck" class="form-check-label">Frugt</label>
                <input type="checkbox" id="FruitCheck" v-model="fruitCheck" @change="GetFoods()"
                    class="form-check-input">
            </div>
            <div class="col-6 checkboxcontainer mx-3">
                <label for="VegetableCheck" class="form-check-label">Grønt</label>
                <input type="checkbox" id="VegetableCheck" v-model="vegetableCheck" @change="GetFoods()"
                    class="form-check-input">
            </div>
        </div>


        <datalist id="FoodDropdown" v-model="chosenFoodString">
            <option disabled>Vælg venligst her</option>
            <option v-for="(food, index) in foods" :key="index" :value="foods[index].name" :id="foods[index].name">
                {{food.name}}
            </option>
        </datalist>
        <input list="FoodDropdown" autocomplete="true" v-model:="searchFoodString"
            @input="GetFoodsByName()" @select="ChooseFruit()" placeholder="Vælg venligst en ingrediens!"
            class="elementBox d-flex justify-content-between" style="text-align: center;"/>
        <!--<select id="FoodDropdown" placeholder="Vælg venligst en ingrediens!" v-model="chosenFoodString"
            @change="ChooseFruit()" class="form-select elementBox">
            <option disabled>Vælg venligst en ingrediens!</option>
            <option v-for="(food, index) in foods" :key="index" :value="foods[index].name" :id="foods[index].name">
                {{food.name}}
            </option>
        </select>-->


        <div class="informationBox">
            <div class="d-flex justify-content-between">
                <div class="col-6 row">
                    <div class="col-6">
                        <p id="NewestTemp">{{newestTemperature}}&deg;C</p>
                        <p class="tinytext">Temperatur</p>
                    </div>
                    <div class="col-6">
                        <p id="NewestHumidity">{{newestHumidity}}%</p>
                        <p class="tinytext">Luftfugtighed</p>
                    </div>
                </div>
                <div class="col-6">
                    <p id="ShelfLife" v-show="chosenFood != undefined">
                        {{spoilTime[0]}} dage og {{spoilTime[1]}} timer
                    </p>
                    <p class="tinytext">
                        Holdbarhed
                    </p>
                </div>
            </div>
        </div>

        <ul>
            <li v-for="(reading, index) in readings" :key="index">
                {{reading.temperature}}, {{reading.humidity}}, {{reading.id}}, {{reading.timestamp}}
            </li>
        </ul>

    </div>
    <script type="module" src="js/index.js"></script>

</body>

</html>